.App {
  padding: 15px;
  background-color: aquamarine;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.book{
  padding: 15px;
  border: 2px solid #c3c3c3;
  border-radius: 8px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 1px;
}

.Edit {
  border-radius: 4px;
  color: #3498DB;
  border-color: #3498DB;
  background-color: white;
  text-decoration: none;
  padding: 6px 10px;
  font-size: 16px;
}
.Delete {
  border-radius: 4px;
  color: #ff0000;
  border-color: #ff0000;
  background-color: white;
  text-decoration: none;
  padding: 6px 10px;
  font-size: 16px;
}

input {
  margin: 5px;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  color: #666;
}